body {
  background-color: hsl(218, 23%, 16%);
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Manrope, sans-serif;
  font-weight: 800;
}

button {
  background-color: hsl(150, 100%, 66%);
  border: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.botao:hover {
  box-shadow: 0 0 40px hsl(150, 100%, 66%);
  transition: box-shadow 0.3s ease;
}

.card-number {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: bold;
}

.text {
  color: hsl(193, 38%, 86%);
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
  margin: 1rem;
  text-align: center;
  font-size: 24px;
}

main {
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  max-width: 500px;
  width: 90%;
  padding: 50px;
  position: relative;
  gap: 20px;
}

@media (max-width: 576px) {
  .text {
    font-size: 16px;
    margin: 15px;
  }
  main {
    padding: 30px;
  }
  .card-number {
    font-size: 10px;
  }
  button {
    width: 45px;
    height: 45px;
  }
}
